
@{
    ViewData["Title"] = "cikti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 style="margin-left:425px;font-size:30px" class="btn btn-success">@ViewBag.alan Ekleme Başarılı</h1>
    <br /><br />
</div>
