

@{
    ViewData["Title"] = "İlan Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 style="margin-left:425px;font-size:30px" class="btn btn-success"><a href="/Home/ilanversat">SATILIK İLAN VER</a></h1>
    <br />
    <h1 style="margin-left:425px;font-size:30px" class="btn btn-success"><a href="/Home/ilanverkir">KİRALIK İLAN VER</a></h1>
    <br />
</div>
