@{
    ViewData["Title"] = "Home Page";
}


<html>
<body>

    <div style="background-image:url(/wwwroot/Image/emlak1.png)">
        <h1 style="margin-left:450px">WELCOME</h1>
        @*<img src="~/Image/emlak1.png" width="1200px" height="700px">*@
    </div>
</body> 
</html>