
@{
    ViewData["Title"] = "Kayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
  
    <div style="width:500px;height:auto; margin-left:300px;background-color:#8d6b6b">
        <div style="margin-left:50px;margin-right:50px;">
            <br /><br />
            <h1 style="margin-left:125px;color:white">Kayıt Ol</h1>
            <form class="form-group" method="post">
                <div>
                    <label style="color:white">AD SOYAD</label>
                    <input type="text" class="form-control" name="AdSoyad" />
                </div>
                <br />
                <div>
                    <label style="color:white">TC NO</label>
                    <input type="text" class="form-control" name="TCno" />
                </div>
                <br />
                <div>
                    <label style="color:white">YAŞ</label>
                    <input type="text" class="form-control" name="Yas" />
                </div>
                <br />
                <div>
                    <label style="color:white">TELEFON</label>
                    <input type="text" class="form-control" name="Telno" />
                </div>
                <br />
                <div>
                    <label style="color:white">PAROLA</label>
                    <input type="password" class="form-control" name="Parola" />
                </div>
                <div style="margin-top:15px">
                    <button class="btn btn-info">KAYIT OL</button>
                </div>

            </form>
            <br /><br /><br />
        </div>

    </div>
</div>